@model List<mvcWebCinestar.Models.Cine>
@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Cine.cshtml";
}

<br />
<h1>Nuestros Cines</h1>
<br />

    @foreach(var cines in Model)
    {
        <div class="contenido-cine">
            <img src="~/img/cine/@cines.idCine.1.jpg" width="227" height="170" />
            <div class="datos-cine">
                <h4>@cines.RazonSocial</h4><br />
                <span>@cines.Direccion - @cines.Detalle<br /><br />Teléfono: @cines.Telefonos</span>
            </div>
            <br />
            <a href='@Url.Action("verCine", "Cine", new { idCine = @cines.idCine })'>
                <img src="~/img/varios/ico-info2.png" width="150" height="40" />
            </a>
        </div>
    }
