@model mvcWebCinestar.Models.Pelicula
@{
	ViewBag.Title = "Inicio";
	Layout = "~/Views/Shared/_Cine.cshtml";
	string img = "";
}

<br />
<h1>Cartelera</h1>
<br />
<div class="contenido-pelicula">
	<div class="datos-pelicula">
		<h2>@Model.Titulo</h2>
		<p>@Model.Sipnosis</p>
		<br />
		<div class="tabla">
			<div class="fila">
				<div class="celda-titulo">Título Original :</div>
				<div class="celda">@Model.Titulo</div>
			</div>
			<div class="fila">
				<div class="celda-titulo">Estreno :</div>
				<div class="celda">@Model.FechaEstreno</div>
			</div>
			<div class="fila">
				<div class="celda-titulo">Género :</div>
				<div class="celda">@Model.Geneross</div>
			</div>
			<div class="fila">
				<div class="celda-titulo">Director :</div>
				<div class="celda">@Model.Director</div>
			</div>
			<div class="fila">
				<div class="celda-titulo">Reparto :</div>
				<div class="celda">@Model.Reparto</div>
			</div>
		</div>
	</div>
    @{
        img = "/img/pelicula/" + @Model.idPelicula + ".jpg";
    }
	<img src="@img" width="160" height="226"><br /><br />
</div>
<div class="pelicula-video">
	<embed src="https://www.youtube.com/v/@Model.Link" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="580" height="400">
</div>
